USE [master]
GO
/****** Object:  Database [SupplyDb]    Script Date: 27.12.2020 12:11:28 ******/
CREATE DATABASE [SupplyDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Supply', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SupplyDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Supply_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SupplyDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SupplyDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SupplyDb]
GO
/****** Object:  Table [dbo].[Commodity]    Script Date: 27.12.2020 12:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commodity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CommodityType] [int] NOT NULL,
 CONSTRAINT [PK_Commodity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommodityTypeRef]    Script Date: 27.12.2020 12:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommodityTypeRef](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CommodityTypeRef] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 27.12.2020 12:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FamilyName] [varchar](50) NOT NULL,
	[Initials] [varchar](10) NOT NULL,
	[CompanyName] [varchar](50) NOT NULL,
	[PossibleDeliveryDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProviderSupplyStock]    Script Date: 27.12.2020 12:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderSupplyStock](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommodityId] [int] NOT NULL,
	[ProviderId] [int] NOT NULL,
	[Cost] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_ProviderSupplyStock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supply]    Script Date: 27.12.2020 12:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supply](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProviderId] [int] NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[ApplicantId] [int] NOT NULL,
	[ArrangerId] [int] NULL,
	[Cost] [decimal](18, 0) NOT NULL,
	[ApplicationDate] [datetime] NOT NULL,
	[ArrangementDate] [datetime] NULL,
	[DeliveryDate] [datetime] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_Supply] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplyLine]    Script Date: 27.12.2020 12:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplyLine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplyId] [int] NOT NULL,
	[CommodityId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Cost] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_SupplyLine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplyStatusRef]    Script Date: 27.12.2020 12:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplyStatusRef](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SupplyStatusRef] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 27.12.2020 12:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FirName] [varchar](50) NOT NULL,
	[FamName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 27.12.2020 12:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Address] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Warehouse] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseLine]    Script Date: 27.12.2020 12:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseLine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommodityId] [int] NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[PerUnitCost] [decimal](18, 0) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_WarehouseLine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Commodity] ON 

INSERT [dbo].[Commodity] ([Id], [Name], [CommodityType]) VALUES (7, N'Chabacco', 2)
INSERT [dbo].[Commodity] ([Id], [Name], [CommodityType]) VALUES (8, N'BlackBurn', 2)
INSERT [dbo].[Commodity] ([Id], [Name], [CommodityType]) VALUES (9, N'Spectrum', 2)
SET IDENTITY_INSERT [dbo].[Commodity] OFF
GO
SET IDENTITY_INSERT [dbo].[CommodityTypeRef] ON 

INSERT [dbo].[CommodityTypeRef] ([Id], [Type]) VALUES (1, N'Кальян')
INSERT [dbo].[CommodityTypeRef] ([Id], [Type]) VALUES (2, N'Табак')
SET IDENTITY_INSERT [dbo].[CommodityTypeRef] OFF
GO
SET IDENTITY_INSERT [dbo].[Provider] ON 

INSERT [dbo].[Provider] ([Id], [FamilyName], [Initials], [CompanyName], [PossibleDeliveryDate]) VALUES (1, N'Громыко', N'А. Б.', N'ОАО "Calyan Logistics"', CAST(N'2020-12-31T00:00:00.000' AS DateTime))
INSERT [dbo].[Provider] ([Id], [FamilyName], [Initials], [CompanyName], [PossibleDeliveryDate]) VALUES (2, N'Бандурин', N'Б. Г.', N'ЗАО "Вертекс"', CAST(N'2021-01-31T00:00:00.000' AS DateTime))
INSERT [dbo].[Provider] ([Id], [FamilyName], [Initials], [CompanyName], [PossibleDeliveryDate]) VALUES (3, N'Симонов', N'Г. В.', N'ОАО "ТабакТранс"', CAST(N'2021-01-26T19:59:52.307' AS DateTime))
SET IDENTITY_INSERT [dbo].[Provider] OFF
GO
SET IDENTITY_INSERT [dbo].[ProviderSupplyStock] ON 

INSERT [dbo].[ProviderSupplyStock] ([Id], [CommodityId], [ProviderId], [Cost]) VALUES (10, 7, 1, CAST(350 AS Decimal(18, 0)))
INSERT [dbo].[ProviderSupplyStock] ([Id], [CommodityId], [ProviderId], [Cost]) VALUES (11, 8, 1, CAST(250 AS Decimal(18, 0)))
INSERT [dbo].[ProviderSupplyStock] ([Id], [CommodityId], [ProviderId], [Cost]) VALUES (12, 10, 1, CAST(400 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ProviderSupplyStock] OFF
GO
SET IDENTITY_INSERT [dbo].[Supply] ON 

INSERT [dbo].[Supply] ([Id], [ProviderId], [WarehouseId], [ApplicantId], [ArrangerId], [Cost], [ApplicationDate], [ArrangementDate], [DeliveryDate], [StatusId]) VALUES (1, 1, 1, 3, 3, CAST(350 AS Decimal(18, 0)), CAST(N'2020-12-19T21:28:23.173' AS DateTime), CAST(N'2020-12-19T23:02:10.483' AS DateTime), CAST(N'2020-12-30T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Supply] ([Id], [ProviderId], [WarehouseId], [ApplicantId], [ArrangerId], [Cost], [ApplicationDate], [ArrangementDate], [DeliveryDate], [StatusId]) VALUES (3, 1, 1, 3, NULL, CAST(540 AS Decimal(18, 0)), CAST(N'2020-12-12T00:00:00.000' AS DateTime), NULL, CAST(N'2020-12-12T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Supply] ([Id], [ProviderId], [WarehouseId], [ApplicantId], [ArrangerId], [Cost], [ApplicationDate], [ArrangementDate], [DeliveryDate], [StatusId]) VALUES (4, 1, 3, 3, NULL, CAST(2000 AS Decimal(18, 0)), CAST(N'2020-12-19T23:09:01.240' AS DateTime), NULL, CAST(N'2020-12-30T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Supply] OFF
GO
SET IDENTITY_INSERT [dbo].[SupplyLine] ON 

INSERT [dbo].[SupplyLine] ([Id], [SupplyId], [CommodityId], [Quantity], [Cost]) VALUES (12, 1, 7, 3, CAST(350 AS Decimal(18, 0)))
INSERT [dbo].[SupplyLine] ([Id], [SupplyId], [CommodityId], [Quantity], [Cost]) VALUES (13, 4, 17, 1, CAST(2000 AS Decimal(18, 0)))
INSERT [dbo].[SupplyLine] ([Id], [SupplyId], [CommodityId], [Quantity], [Cost]) VALUES (14, 5, 8, 3, CAST(250 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[SupplyLine] OFF
GO
SET IDENTITY_INSERT [dbo].[SupplyStatusRef] ON 

INSERT [dbo].[SupplyStatusRef] ([Id], [Status]) VALUES (1, N'Заявка создана')
INSERT [dbo].[SupplyStatusRef] ([Id], [Status]) VALUES (2, N'Поставка оформлена')
INSERT [dbo].[SupplyStatusRef] ([Id], [Status]) VALUES (3, N'Ожидание поставки')
SET IDENTITY_INSERT [dbo].[SupplyStatusRef] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Login], [Password], [FirName], [FamName]) VALUES (2, N'MarMiz', N'IpGelenj1999', N'Мария', N'Мизеровская')
INSERT [dbo].[User] ([Id], [Login], [Password], [FirName], [FamName]) VALUES (3, N'Tatiyana', N'TatMur2409qw', N'Татьяна ', N'Иванова')
INSERT [dbo].[User] ([Id], [Login], [Password], [FirName], [FamName]) VALUES (4, N'GEnEsIs', N'GSbigbee7712', N'Георгий', N'Симонов')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouse] ON 

INSERT [dbo].[Warehouse] ([Id], [Address]) VALUES (1, N'Улица Голубева, д. 3')
INSERT [dbo].[Warehouse] ([Id], [Address]) VALUES (2, N'Улица Шошина, д.24')
INSERT [dbo].[Warehouse] ([Id], [Address]) VALUES (3, N'Улица Ермака, д.34')
SET IDENTITY_INSERT [dbo].[Warehouse] OFF
GO
SET IDENTITY_INSERT [dbo].[WarehouseLine] ON 

INSERT [dbo].[WarehouseLine] ([Id], [CommodityId], [WarehouseId], [PerUnitCost], [Quantity]) VALUES (1, 7, 1, CAST(400 AS Decimal(18, 0)), 32)
INSERT [dbo].[WarehouseLine] ([Id], [CommodityId], [WarehouseId], [PerUnitCost], [Quantity]) VALUES (2, 8, 1, CAST(350 AS Decimal(18, 0)), 30)
INSERT [dbo].[WarehouseLine] ([Id], [CommodityId], [WarehouseId], [PerUnitCost], [Quantity]) VALUES (3, 10, 1, CAST(500 AS Decimal(18, 0)), 15)
SET IDENTITY_INSERT [dbo].[WarehouseLine] OFF
GO
ALTER TABLE [dbo].[Commodity]  WITH CHECK ADD  CONSTRAINT [FK_Commodity_CommodityTypeRef] FOREIGN KEY([CommodityType])
REFERENCES [dbo].[CommodityTypeRef] ([Id])
GO
ALTER TABLE [dbo].[Commodity] CHECK CONSTRAINT [FK_Commodity_CommodityTypeRef]
GO
ALTER TABLE [dbo].[ProviderSupplyStock]  WITH CHECK ADD  CONSTRAINT [FK_ProviderSupplyStock_Commodity] FOREIGN KEY([CommodityId])
REFERENCES [dbo].[Commodity] ([Id])
GO
ALTER TABLE [dbo].[ProviderSupplyStock] CHECK CONSTRAINT [FK_ProviderSupplyStock_Commodity]
GO
ALTER TABLE [dbo].[ProviderSupplyStock]  WITH CHECK ADD  CONSTRAINT [FK_ProviderSupplyStock_Provider] FOREIGN KEY([ProviderId])
REFERENCES [dbo].[Provider] ([Id])
GO
ALTER TABLE [dbo].[ProviderSupplyStock] CHECK CONSTRAINT [FK_ProviderSupplyStock_Provider]
GO
ALTER TABLE [dbo].[Supply]  WITH CHECK ADD  CONSTRAINT [FK_Supply_Provider] FOREIGN KEY([ProviderId])
REFERENCES [dbo].[Provider] ([Id])
GO
ALTER TABLE [dbo].[Supply] CHECK CONSTRAINT [FK_Supply_Provider]
GO
ALTER TABLE [dbo].[Supply]  WITH CHECK ADD  CONSTRAINT [FK_Supply_SupplyStatusRef] FOREIGN KEY([StatusId])
REFERENCES [dbo].[SupplyStatusRef] ([Id])
GO
ALTER TABLE [dbo].[Supply] CHECK CONSTRAINT [FK_Supply_SupplyStatusRef]
GO
ALTER TABLE [dbo].[Supply]  WITH CHECK ADD  CONSTRAINT [FK_Supply_User] FOREIGN KEY([ApplicantId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Supply] CHECK CONSTRAINT [FK_Supply_User]
GO
ALTER TABLE [dbo].[Supply]  WITH CHECK ADD  CONSTRAINT [FK_Supply_User1] FOREIGN KEY([ArrangerId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Supply] CHECK CONSTRAINT [FK_Supply_User1]
GO
ALTER TABLE [dbo].[Supply]  WITH CHECK ADD  CONSTRAINT [FK_Supply_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouse] ([Id])
GO
ALTER TABLE [dbo].[Supply] CHECK CONSTRAINT [FK_Supply_Warehouse]
GO
ALTER TABLE [dbo].[SupplyLine]  WITH CHECK ADD  CONSTRAINT [FK_SupplyLine_Commodity] FOREIGN KEY([CommodityId])
REFERENCES [dbo].[Commodity] ([Id])
GO
ALTER TABLE [dbo].[SupplyLine] CHECK CONSTRAINT [FK_SupplyLine_Commodity]
GO
ALTER TABLE [dbo].[SupplyLine]  WITH CHECK ADD  CONSTRAINT [FK_SupplyLine_Supply] FOREIGN KEY([SupplyId])
REFERENCES [dbo].[Supply] ([Id])
GO
ALTER TABLE [dbo].[SupplyLine] CHECK CONSTRAINT [FK_SupplyLine_Supply]
GO
ALTER TABLE [dbo].[WarehouseLine]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseLine_Commodity] FOREIGN KEY([CommodityId])
REFERENCES [dbo].[Commodity] ([Id])
GO
ALTER TABLE [dbo].[WarehouseLine] CHECK CONSTRAINT [FK_WarehouseLine_Commodity]
GO
ALTER TABLE [dbo].[WarehouseLine]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseLine_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouse] ([Id])
GO
ALTER TABLE [dbo].[WarehouseLine] CHECK CONSTRAINT [FK_WarehouseLine_Warehouse]
GO
USE [master]
GO
